.container {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

nav {
  background-color: #008080;
  border-radius: 2rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  border-radius: 1rem;
  padding: 1rem;
  margin-right: 20px;
  display: inline-block;
}

.Link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

li:hover {
  background-color: #5f9ea0;
}

span {
  font-size: 0.8rem;
}
