.searchList {
  border: 1px solid rgb(151, 151, 151);
  border-radius: 1rem;
  padding: 5px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5rem;
}

.searchList > div {
  width: 50%;
}

.searchList > div > select {
  width: 50%;
  font-size: 1em;
  padding: 5px;
  margin: 5px 0;
  border-radius: 1rem;
}

.button {
  border: 1px solid rgb(141, 141, 141);
  border-radius: 1rem;
  margin: 0.1rem;
  color: white;
  background-color: #438486;
}

.buttonHover:hover {
  background-color: rgb(255, 180, 180);
  color: black;
}
